* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 50px;
}

#imgContainer {
  display: flex;
  align-items: center;
}

.albumImage {
  width: 150px;
  height: 150px;
  margin: 20px;
  border: 1px solid black;
}

#list {
  padding: 2px;
  margin-left: 20px;
}
